@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Arimo Hebrew Subset';
  src: url('/fonts/Arimo/Arimo-Regular.ttf') format('ttf'),
       url('/fonts/Arimo/Arimo-Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}